/* Osnovni stilovi za telo dokumenta */
body {
  font-family: 'Arial', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7f5; /* Svetlo siva pozadina */
}
/* Stil za naslov aplikacije */
.app-title {
  color: #13471f; /* Zelena boja */
  font-size: 2.5rem; /* Veličina fonta */
  text-align: center;
  text-transform: uppercase; /* Sva slova velika */
  letter-spacing: 2px; /* Razmak između slova */
  font-weight: bold; /* Podebljan tekst */
  margin: 0; /* Uklanjanje margina */
  padding: 1rem; /* Unutrašnji razmak */
  border-bottom: 2px solid #255b31; /* Zelena linija ispod naslova */

}
/* Dodajemo animaciju za pojavljivanje naslova */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.app-title {
  animation: fadeIn 1s ease-in-out;
}
/* Stilovi za formu */
.form-container {
  background: #e4e8ea;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;

}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-container .button  {
  background-color: #13471f;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.button2{
  background-color: #13471f;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%
}

.form-container .button:hover {
  background-color: #13471f;
  width: 100%;
  height: 100%;
}

.chart-container {
  width: 100%; /*  širina */
  height: 100%; /* visina */
}

.table-container {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  padding: 10px;
  text-align: left;
}

.thead {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.th {
  background-color: #f9f9f9;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #ddd;
}

.tbody-tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.tbody-tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tbody-tr:hover {
  background-color: #f1f1f1;
}

.tbody-td {
  border: 1px solid #ddd;
}

.overflow {
  overflow-x: auto;
}

.caption {
  caption-side: bottom;
  padding: 10px;
  font-size: 0.9em;
  color: #555;
}

